# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# testing cache 
.coverage

# test samples
sleep_history.csv